* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: auto;
    background: rgb(112, 171, 205);
    background-image: url('./images/fon.jpg');
    background-repeat: repeat-x + repeat-y;
    background-size:contain;
    color: white;
    overflow-x: hidden;

}

h1 {
    margin-top: 30px;
    font-family: 'Marck Script', cursive;
    font-size: 48px;
    padding-bottom: 30px;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 36px;
    padding-bottom: 30px;
    font-weight: 600;
}

h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 600;
    padding-bottom: 30px;
    font-size: 26px;
}

.header {
    background-image: url('./images/list.png');
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
    min-height: 890px;
    border-bottom: 1px solid white;
    margin: 0 30px;

}

h3.price {
    font-size: 54px;
    position: relative;
}

h3.price::after {
    content: url('./images/price.png');
    position: absolute;
    top: 0;
    left: -110px;
    rotate: 45deg;   
}

.price span {
    font-size: 48px;
    text-decoration: line-through;


}

.about,
.candle,
.soap_red,
.soap_forest {
    min-height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid white;
}

.about_img1 {
    background-image: url('./images/8.png ');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 400px;
    height: 500px;
    position: relative;
    margin: 30px;

}

.about_img2 {
    background-image: url('./images/box.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 500px;
    height: 500px;
    position: relative;
    margin: 30px;
}

.about_discr,
.candle_discr,
.soap_red_discr,
.soap_forest_discr {
    width: 30%;
    line-height: 2;
}

.candle_img1 {
    background-image: url('./images/candle.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 500px;
    height: 500px;
}

.candle_img2 {
    background-image: url('./images/candle1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 500px;
    height: 500px;
}

.soap_red_img1 {
    background-image: url('./images/red.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 500px;
    height: 500px;
}

.soap_red_img2 {
    background-image: url('./images/redmany.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 500px;
    height: 500px;
}

.soap_forest_img1 {
    background-image: url('./images/forest.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 500px;
    height: 500px;
}

.soap_forest_img2 {
    background-image: url('./images/forestmany.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 500px;
    height: 450px;
}

.social {
    display: flex;
    list-style: none;
}

.social a {
    display: block;
    width: 70px;
    height: 70px;
}

@media (max-width: 1410px) {
    .header {
        background-image: url('./images/list.png');
        background-repeat: repeat-x;
        background-position: bottom;
        background-size: 30%;
    }

    .about,
    .candle,
    .soap_red,
    .soap_forest {
        flex-direction: column;
        margin: 20px;


    }


    
    .candle_img1,
    .candle_img2,
    .soap_red_img1,
    .soap_red_img2,
    .soap_forest_img1,
    .soap_forest_img2,
    .about_img1,
    .about_img2 {
        margin: 30px;
        width: 300px;
        height: 300px;

    }
   

    .about_discr,
    .candle_discr,
    .soap_red_discr,
    .soap_forest_discr {
        width: 75%;
        line-height: 1;
    }



}